.yadws-admin-slide {
    padding: 10px 0;
}
.yadws-admin-slide table {
    margin: 10px 0;
}
.yadws-admin-slide td {
    vertical-align: middle;
    white-space: nowrap;
}
.yadws-admin-slide .yadws-link-input {
    width: 100%;
}
.yadws-admin-slide span.yadws-separator:before {
    content: " | ";
}

.yadws-label, 
.yadws-input {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
.yadws-label {
    width: 25%;
}
.yadws-input {
    width: 74%;
}

.yadws-theme {
    text-align: center;
    width: 150px;
    float: left;
    -webkit-padding-start: 0px;
    padding: 10px 15px 10px 0;
}
.yadws-theme img{
    margin: 5px 0;
}