.yadws-slider {
    overflow: auto;
    width: 100%;
    position: relative;
}
.yadws-slider .yadws-hidden {
    display: none;
}

.yadws-slider .yadws-container {
    float: left;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.yadws-slider .yadws-navigation {
    position: absolute;
    bottom: 20px;
    right: 20px
}
.yadws-slider .yadws-bullet {
    float: left;
    margin: 5px;
    display: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: #FFF;
    border: 2px solid #000;
}
.yadws-slider .yadws-bullet.yadws_active {
    background-color: #000;
    border-color: #FFF;
}
.yadws-slider .yadws-prev,
.yadws-slider .yadws-next {
    position: absolute;
    display: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #FFF;
    border: 2px solid #000;
    top: 45%;
}
.yadws-slider .yadws-prev {
    left: 0px;
}
.yadws-slider .yadws-next {
    right: 0px;
}

.yadws-slider .yadws-slide {
    float: left;
}

.yadws-slider .yadws-item {
    float: left;
    padding-right: 10px;
    display: block;
}